<div class="responsivediv" style="width: 100%"></div>
<div style="height: 3px; background-color: orangered"></div>
<div id="smallnav">
  <div style="display: flex; flex-direction: row; align-items: center">
    <div>
      <a href="#">{{ "COMPARE" | translate }}</a>
    </div>
    <a *ngIf="!isLoggedIn" routerLink="/Login" (click)="changeStat()" style="color: grey">{{ "SIGN_IN" | translate
      }}</a>
    <a *ngIf="isLoggedIn" routerLink="/Login" (click)="logout()" style="color: grey">{{ "Logout" | translate }}</a>
    <div>
      <a routerLink="/Signup">{{ "CREATE_ACCOUNT" | translate }}</a>
    </div>
  </div>
  <button class="btn" style="color: #f37021;">
    <i [routerLink]="['/products']" class="fas fa-home" style="color: #f37021;"></i> {{"Home"| translate}}
  </button>
  

  <select (change)="changelang($event)" name="languageSelect" aria-label="Select language"
    style="background-color: grey">
    <option value="en">English</option>
    <option value="ar">العربية</option>
  </select>
  
</div>
<div>
  <div id="bigDivForNavbar">
    <img src="/img/2b.png" width="15%" id="img2b" />

    <div>
      <div id="divforEndjustfy">
        <div id="responsiveSearchBarsCart">
          <div style="display: flex; flex-direction: row">
            <div class="hiddenDiv">
              <div class="headsetandlocation">
                <i class="fa-solid fa-headset fa-2x" style="margin-right: 5px; color: black"></i>
                <div style="margin: 0; color: orangered; font-size: 20px">
                  {{ "SUPPORT_NUMBER" | translate }}
                </div>
              </div>
              <div class="headsetandlocation">
                <i class="fa-solid fa-location-dot fa-2x" style="color: black"></i>
                <div style="margin: 0; color: orangered; font-size: 20px">
                  {{ "STORES" | translate }}
                </div>
              </div>
            </div>
          </div>

          <div class="cart-container ">

            <div style="padding-top: 15px" id="listbars">
              <a (click)="toggleCategories()">
                <i class="fa fa-bars fa-large" style="color: #f37021"></i>
              </a>
            </div>

            <!-- Container for displaying the categories -->
            <div *ngIf="showCategories" id="categoryList"
              style="background-color: white; border: 1px solid black; padding: 10px; position: absolute; z-index: 20;">
              <!-- Close button -->
              <span (click)="toggleCategories()"
                style="cursor: pointer; color: #f37021; float: right; font-size: 1.5em;">&times;</span>
              <ul style="list-style: none; margin: 0; padding: 0;">
                <li *ngFor="let cat of ParentCategories" style="padding: 5px;">
                  <a (mouseover)="ShowSubCategories(cat.id)" style="color: black;">
                    {{ lang === 'ar' ? cat.nameAr : cat.nameEn }}
                  </a>
                  <!-- Subcategories list -->
                  <ul *ngIf="cat.id === selectedParentId"
                    style="list-style-type: none; padding-left: 15px; margin-top: 5px;">
                    <li *ngFor="let subCat of filteredSubcategories" style="padding: 5px;">
                      <a routerLink="/products-by-category" (click)="SelectedProductId(subCat.id)"
                        style="color: black;">
                        {{ lang === 'ar' ? subCat.nameAr : subCat.nameEn }}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>

            <div style="background-color: grey; display: inline-block; height: 50px; width: 1px;"></div>
            <a [routerLink]="['/cart']">
              <img src="/img/cart.png" alt="Shopping Cart" class="cart-icon" />
              <span class="item-count">
                {{ counter.toString() | translate }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>






<app-advertisment></app-advertisment>
<router-outlet></router-outlet>