* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.responsivediv {
  background-image: url("/img/bank.jpg");
  height: 70px; /* Full viewport height */
  width: 100%; 
   /* Full width */
}

#smallnav {
  background-color: #f0f0ed;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10%;
  padding-left: 8%;
}
#smallnav > div > div a {
  font-size: 14px !important;
  font-family: "Cairo" !important;
  color: #6d6d6c !important;
}
#responsiveSearchBarsCart{
  display: flex;
  flex-direction: row; 
  /* background-color: blue; */
  justify-content: end;
  width: 45%;
}
nav {
  background-color: black;
  margin-left: 50px;
  margin-right: 50px;
  /* width: 100%; */

  /* flex-wrap: wrap; */
  justify-content: space-around;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
nav li {
  height: 50px;
}
nav a {
  font-weight: bold;
  /* height: 100%; */
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover {
  transition: 1s;
  color: orangered;
}
.cart-container {
  position: relative;
  /* display: inline-block; */
  display: flex; 
  flex-direction: row;
  /* background-color: green; */
  /* margin-right: 45px; */
}

.cart-icon {
  display: block;
  width: 35px;
  /* Set the width of the cart image */
  /* background-color: black; */
}

.item-count {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f37021;
  color: black;
  border-radius: 50%;
  padding: 5px 5px;
  margin-right: 29px;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 12px;
  width: 18px;
  height: 18px;
  align-items: center;
  line-height: 10px;
}
#img2b {
  margin-left: 30px;
  max-height: 100%;
  max-width: 100%;
}
#search {
  /* width: 500px; */
  width: 100%;
  height: 45px;
  border-radius: 7px;
  box-shadow: none;
  border-right: 0px;
  padding-left: 8px;
}
#btnandsearch {
  margin: 15px;
}
.headsetandlocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-right: 5px;
  margin-left: 5px;
}
#bigDivForNavbar {
  /* background-color: rebeccapurple; */
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 7%;
  padding-right: 7%;

  /* background-color: red; */
  width: 100%;
  height: 150px;
  /* background-color: red; */
}
#bigDivForNavbar > div {
  flex: 1; /* Allow child divs to grow */
  color: white; /* Example text color */
  padding: 10px; /* Example padding */
}
#btnsearch {
  background-color: #f37021;
  border: none;
  border-radius: 2px;
  border-left: 0;
}
#sidelist {
  display: none;
  background-color: rgb(156, 156, 214);
  display: none;
  flex-direction: row;
  margin-block: 10%;
}
#divforEndjustfy{
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: 2%;
  justify-content: end;
}
#showsubcategories {
  background-color: white;
  border: solid 2px;
  /* border-radius: 10px; */
  height: 50px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 0.5s;
}
#showsubcategories > a {
  color: black;
}
#showsubcategories > a:hover {
  color: #f37021;
}
/* nav >ul >li> a:hover #showsubcategories{
  display: block;
}
/* nav a:left #showsubcategories{
  display: none;
} */
a {
  font-weight: bold;
  font-size: small;
  height: 100%;
  padding: 0 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
#listbars {
  display: none;
}
#searchandButton {
  display: flex;
  flex-direction: row;
  width: 45%;
}
@media (max-width: 800px) { 
  #responsiveSearchBarsCart{ 
    justify-content: end;
  }
  #listbars {
    display: block;
  } 
  .hiddenDiv{
    display: flex;
  }
  #nav {
    display: none;
  }
  #sidelist {
    display: block;
  }
  #searchandButton {
    display: none;
  }

  #smallnav {
    display: none;
  }
  #bigDivForNavbar {
    justify-content: space-between;
    height: 50px;
    /* background-color: red;  */
    width: 100%;
  }
  .cart-container {
    justify-content: end;
    /* background-color: green; */
  }
  /* .rectangle{
    display: block;
  } */
} 
/* Optional styles for the dropdown */
#sidelist {
  width: 100%;
}

#sidelist div {
  transition: background-color 0.3s;
}

#sidelist div:hover {
  background-color: #f0f0f0; /* Change background on hover */
}
.hiddenDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
}
@media (min-width: 800px) { 
  #bigDivForNavbar{
    justify-content: end;
  }
  #divforEndjustfy{ 
    justify-content: end;
  }
  .hiddenDiv {
    display: flex;
  }
  #listbars {
    display: none;
  }
  #nav {
    display: block;
  }
  #sidelist {
    display: none;
  }
  #search {
    display: flex;
  }

  #searchandButton {
    display: flex;
    flex-direction: row;
  }
  #smallnav {
    display: flex;
  } 
  .cart-container {
    justify-content: end;
    background-color: white;
  }
}

@media (max-width: 800px) {
  .headsetandlocation {
    display: none;
  }
  .hiddenDiv {
    display: none;
  }
  #bigDivForNavbar {
    justify-content: space-between;
  }
}

@media (max-width: 500px) {
  .headsetandlocation {
    display: none;
  }
  .hiddenDiv {
    display: none;
  }
  #bigDivForNavbar {
    justify-content: space-between;
  }
}

.cursor{
  cursor: pointer;
}