<div class="main-container">
  <app-sidebar (filterChange)="applyFilters($event)"></app-sidebar>
  <div class="product-list product-details">
    <div *ngFor="let product of products" class="product-card" style="cursor: pointer">
      <div class="product-card" style="cursor: pointer">
        <div class="product-img-wrapper" (click)="SelectedProductId(product.id)">
          <img [src]="
              product.images.length > 0
                ? product.images[0].imageUrl
                : 'img/2b.png'
            " [alt]="getLocalizedProductName(product)" class="product-img" />
          <span *ngIf="product.discount > 0" class="discount-badge">-{{ product.discount }}%</span>
        </div>

        <h3 class="product-name">{{ getLocalizedProductName(product) }}</h3>
        <p class="product-description">
          {{ getLocalizedProductDescription(product) }}
        </p>
        <span class="old-price" *ngIf="product.discount > 0"></span>
        <div class="price-section">
          {{ product.price | currency }}
          <span class="current-price">
            {{
            product.price - (product.price * product.discount) / 100
            | currency
            }}
          </span>
        </div>
        <div class="quantity-section">
          <button class="quantity-btn" (click)="handleQuantity('plus', product)">
            {{ "QUANTITY_INCREASE" | translate }}
          </button>
          <input type="text" [(ngModel)]="product.quantity" readonly class="quantity-input" />
          <button class="quantity-btn" (click)="handleQuantity('min', product)">
            {{ "QUANTITY_DECREASE" | translate }}
          </button>
        </div>

        <div class="cart-buttons">
          <button (click)="addToCart(product)" class="add-cart-btn">
            <i class="fas fa-shopping-cart"></i>{{ "ADD_TO_CART" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noProducts>
    <p>{{ "NO_PRODUCTS" | translate }}</p>
  </ng-template>
</div>