<footer class="container-fluid text-center text-white" style="background-color: #272723;">


    <section class="mb-4 p-4">
        <h5>كن اول من يعلم</h5>
        <p>اشترك واعرف كل ماهو جديد من عروض واخبار الان</p>
    </section>
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 col-12">
            <div class="form-outline form-white input-group mb-4">
                <button type="button" class="btn text-white">اشتراك</button>
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

            </div>
          </div>
        </div>
      </form>
    </section>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="block-title"><h5><span>تواصل معنا</span></h5></div>

          <ul class="list-unstyled mb-0">
            <li><a style="color: #FFFFFF" href="https://2b.com.eg/ar/about-us/" title="About us"> عن الشركة</a></li>
            <li><a style="color: #FFFFFF" href="https://2b.com.eg/ar/contact-us/" title="Contact Us"> اتصل بنا </a></li>
            <li><p style="color: #FFFFFF; text-transform:uppercase;"><b>الهاتف:</b> <a href="tel:16420">
                16420</a></p></li>
            <li><p style="color: #FFFFFF; text-transform:uppercase;"><b>البريد الإلكتروني:</b><a href="mailto:meky20500@gmail.com.eg"> tobeegypt.com.eg</a>
            </p></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="block-title"><h5>حسابي</h5></div>

          <ul class="list-unstyled mb-0">
            <li><a href="https://2b.com.eg/ar/customer/account/">حسابي الشخصي</a>
            </li>
            <li><a href="https://2b.com.eg/ar/sales/order/history/">تاريخ
                الطلبات</a></li>
<li><a href="https://2b.com.eg/ar/sales/guest/form/" title="Order History">تتبع طلبك</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="block-title"><h5>الأكثر بحثا</h5></div>

          <ul class="list-unstyled mb-0">
            <li><a href="https://2b.com.eg/ar/computers/laptops.html">لابتوب</a></li>
            <li><a href="https://2b.com.eg/ar/mobile-and-tablet/mobiles.html">موبايلات</a></li>
            <li><a href="https://2b.com.eg/ar/accessories/wearables.html">ساعات
                ذكية</a></li>
            <li><a href="https://2b.com.eg/ar/home-appliances/personal-care/for-him.html">أجهزة العناية
                الشخصية للرجال</a></li>
            <li><a href="https://2b.com.eg/ar/accessories/tv-accessories.html">إكسسوارات التلفزيون</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div style="color:#a8a8a8"><span class="thirteen">ايام عمل كل فروعنا</span></div>

          <ul class="list-unstyled mb-0">
            <li class="thirteen" style="color:#a8a8a8">يوميا / 10:00 صباحا - 10:00 مساء</li>
                    <li class="twelve">حمل تطبيق تو بي</li>
          </ul>
        </div>
      </div>
  <hr style="color: #63635a;">
  <div class="col-md-12">
    <div class="block-bottom">
        <div class="row">
            <div class="col-md-3 social-icons social-icons2">
                <a class="socials facebook" href="https://www.facebook.com/2BEgypt/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="socials linkedin" href="https://www.linkedin.com/company/2b-egypt/about/" title="Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="socials instagram" href="https://www.instagram.com/2begypt" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-md-3" style="margin-bottom: 15px;">
                <br>
                <span style="font-size: 16px;color: #a8a8a8;">تمتع معنا بـ</span>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li style="color: #a8a8a8;">شحن سريع الي اي مكان</li>
                    <br>
                    <li><a href="https://2b.com.eg/ar/terms-and-conditions">الشروط والأحكام</a></li>
                    <br>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled" style="color: #a8a8a8;">
                    <li>مركز خدمة متخصص لخدمتك</li>
                    <br>
                    <li>اكثر من 50 فرع متاح لخدمتك فى كل مكان</li>
                    <br>
                    <li>يمكنك الشراء اونلاين والاستلام من اقرب فرع</li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</div>
  <div class="text-center bg-black p-3">
    <div class="d-flex justify-content-between">
<div id="payments-methods">
<img class="py_img" style="max-height: 35px;" src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/October_2023/Payments_Methods.png" alt="">
</div>
    <address>©الحقوق محفوظة 2024 لصالح شركه توبي كمبيوتر</address>
</div>
</div>
</footer>
