<div>
  <img
    src="/img/halan.jpg"
    alt=""
    style="
      padding-top: 15px;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
    "
  />
</div>

<div
  style="
    display: flex;
    flex-direction: row;
    height: 120px;
    margin: 10px;
    margin-left: 9%;
    margin-right: 9%;
    justify-content: space-between;
  "
>
  <div class="rectangle">
    <img src="/img/image.png" style="color: orange; width: 28%" />
    <div style="margin: 1px; height: 50%; font-size: 15px">Delivery</div>
  </div>
  <div class="rectangle">
    <img src="/img/cor.png" style="width: 30%" />
    <div style="margin: 3px">Corporate</div>
  </div>
  <div class="rectangle">
    <img src="/img/2b.png" style="width: 30%" />
    <div style="margin: 3px">Service</div>
  </div>
  <div class="rectangle">
    <img src="/img/free.png" style="width: 30%" />
    <div style="margin: 3px">Shopping</div>
  </div>
</div>
