<div *ngIf="orderDetails" class="container mt-5">
  <div class="card shadow-lg">
    <div class="card-header text-center  text-white" style="background-color: #ff7f00;">
      <h2>Order Details</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Order Number:</strong> {{ orderDetails.orderNumber }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Created At:</strong> {{ orderDetails.createdAt | date: 'yyyy/MM/dd HH:mm:ss' }}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Status :</strong> {{ getStatusText(orderDetails.status_En) }}</p>
        </div>
        <div class="col-md-6">
          <p><strong>Discount:</strong> {{ orderDetails.discount | currency:'USD' }}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <p><strong>Total Amount:</strong> {{ orderDetails.totalAmount | currency:'USD' }}</p>
        </div>
      </div>

      <h3 class="mt-4">Order Items</h3>
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-3" *ngFor="let item of orderDetails.orderItems">
          <div class="card h-100">
            <div class="card-body">
              <p><strong>Product Name:</strong> {{ item.nameEn }}</p>
              <p><strong>Quantity:</strong> {{ item.quantity }}</p>
              <p><strong>Price:</strong> {{ item.price | currency:'USD' }}</p>
              <p><strong>Total Price:</strong> {{ item.itemTotalPrice | currency:'USD' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
